.deleteWalletModal {
  width: fit-content !important;
  :global {
    .ant-modal-header .ant-modal-title,
    .ant-modal-body {
      text-align: center;
    }
    .ant-modal-title {
      width: 95%;
      margin: 0 auto;
      background-color: #FFD580;
    }
    .ant-modal-close {
      margin-right: -12px;
      margin-top: -12px;
    }
    .ant-btn {
      background-color: #FF8C00;
      color: black;
      border: none;
      box-shadow: none;
      &:hover {
        background-color: #f9652f !important;
        color: white !important;
      }
    }
  }
}