.deleteWalletModal {
  width: fit-content !important;
  :global {
    .ant-modal-header .ant-modal-title,
    .ant-modal-body {
      text-align: center;
    }
    .ant-btn {
      background-color: #FF8C00;
      color: black;
      border: none;
      box-shadow: none;
      &:hover {
        background-color: #f9652f !important;
        color: white !important;
      }
      &:disabled {
        background-color: #d9d9d9 !important;
        color: rgba(0, 0, 0, 0.25) !important;
        cursor: not-allowed;
      }
    }
    .ant-input {
      color: black !important;
      border: 1px solid rgba(0, 0, 0, 0.7) !important;
    }
  }
}