.ejectWallet {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  height: 55rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    flex: 1;
    color: var(--gray-01);
    padding: 2rem 0;
    max-width: 50rem;
    margin: 0 auto;
    p {
      font-size: 1.4rem;
      text-align: center;
      color: orangered;
    }
  }
}