.sidebar {
  overflow: auto;
  flex-grow: 0;
  padding: 0;
  padding-top: 2rem;
  color: var(--teal-2);
  border-radius: 0.5rem;
  @media (min-width: 768px) {
    height: 55rem;
  }
  @media (max-width: 768px) {
    background: rgb(29,29,29);
  }

  :global {
    .ant-menu-item:hover,
    .ant-menu-submenu-title:hover {
      background-color: var(--gray-light) !important;
      color: var(--black) !important;
    }
    .ant-menu-item svg path,
    .ant-menu-submenu-title svg path {
      fill: var(--white-abs);
    }

    .ant-menu-item:hover svg path,
    .ant-menu-submenu:hover .ant-menu-submenu-title svg path {
      fill: var(--black);
    }

    .ant-menu-item-selected svg path {
      fill: var(--black);
    }

    .ant-menu-item-divider {
      border-color: var(--gray-03);
      width: 66%;
      margin: 0 auto;
    }
  }
  
  :global(.ant-menu) {
    background-color: rgb(29, 29, 29);
    @media (min-width: 768px) {
      flex-basis: 20rem;
      background: rgba(255, 255, 255, 0);
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 30rem;
    margin: 2rem auto;
    box-shadow: 0 0.4rem 1.2rem rgba(255, 255, 255, 0.25);
  }

  @media (min-width: 768px) {
    flex-basis: 19rem;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}
