.welcome {
  position: relative;
  width: 100%;
  height: 66vh;
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Sora', sans-serif;
  background: rgba(36, 38, 37, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  text-align: center;
}

.header {
  h1 {
    font-size: 3rem;
    margin-top: 3rem;
    padding-bottom: 1.2rem;
    margin-bottom: 1.3rem;
    color: var(--white);
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 2.6rem;
    }
    @media (max-width: 640px) {
      font-size: 2.4rem;
    }
  }

  p {
    color: var(--gray-01);
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0;
  }
}

.infoText {
  font-size: 14px;
  color: var(--gray-01);
  margin-bottom: 20vh;

  @media (min-width: 640px) {
    width: 80%;
  }
  @media (min-width: 768px) {
    width: 60%;
  }
}

.emailInput {
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid var(--gray-light);
  border-radius: 0;
  padding: 0.5rem 0;
  margin-bottom: 30vh;
  transition: border-color 0.3s ease;
  text-align: center;
  color: var(--gray-light) !important;

  @media (min-width: 640px) {
    width: 80%;
  }
  @media (min-width: 768px) {
    width: 60%;
  }

  &:focus {
    border-bottom: 1px solid var(--teal-2);
    outline: none;
  }
}

.disclaimer {
  font-size: 12px;
  color: var(--gray-light);
  margin-bottom: 1rem;

  @media (min-width: 640px) {
    width: 80%;
  }
  @media (min-width: 768px) {
    width: 60%;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;

  .ctaButton {
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: bolder;
    border-radius: 0.1rem;

    @media (min-width: 640px) {
      width: 80%;
    }
    @media (min-width: 768px) {
      width: 60%;
    }

    &:hover {
      background-color: var(--teal-2) !important;
      color: var(--white) !important;
    }
  }
}

.statusDotGreen {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  background: rgba(0, 255, 128, 0.486);
  backdrop-filter: blur(12px);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  @media (max-width: 640px) {
    padding: 0.5rem 1rem;
  }
}

.statusDotRed {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  background: rgba(255, 13, 0, 0.491);
  backdrop-filter: blur(12px);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  @media (max-width: 640px) {
    padding: 0.5rem 1rem;
  }
}