.depositForm {
  :global {
    height: 55rem;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);
    .ant-form {
      background: rgba(255, 255, 255, 0) !important;
    }
    
    .ant-form-item {
      padding: 1.5rem;
      border: none;
      border-radius: 1rem;
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(12px);
      
      &.select-my-account {
        .ant-select-selector {
          min-height: 3rem;
        }
        .ant-select-single {
          height: fit-content;
        }
      }

      &.field-to {
        label {
          color: var(--teal-2);
          width: 100%;
          font-size: small;
          font-weight: bold;
          .label-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .label-with-icon {
              align-items: left;
            }
            .switch-container {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }
        }
      }

      .ant-input-number-group-addon {
        color: var(--teal-2);
      }

      .ant-btn:disabled {
        color: var(--gray-02) !important;
      }
    }
  }
}

.inputField {
  height: 3rem;
  background-color: var(--gray-light) !important;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.depositButton {
  height: 3rem;
  width: 10rem;
  @media (max-width: 768px) {
    width: 100%;
  }
}