.depositForm {
  :global {
    height: 50rem;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);
    padding-top: 3.5rem;
    .ant-form {
      background: transparent !important;
    }
    
    .ant-form-item {
      border: none;
      border-radius: 1rem;
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(12px);
      
      &.select-my-account {
        .ant-select-selector {
          min-height: 3rem;
        }
        .ant-select-single {
          height: fit-content;
        }
      }

      &.field-to {
        padding: 1rem 1.5rem 2rem 1.5rem;
        label {
          color: var(--teal-2);
          width: 100%;
          font-size: small;
          font-weight: bold;
        }
        .ant-input, .ant-btn, .ant-select {
          height: 4rem;
        }
      }

      &.button-bar {
        padding: 1.5rem;
      }

      .ant-input-number-group-addon {
        color: var(--teal-2);
      }

      .ant-btn:disabled {
        color: var(--gray-02) !important;
      }
    }
  }
}

.depositButton {
  height: 4rem;
  width: 10rem;
  @media (max-width: 768px) {
    width: 100%;
  }
}