.depositForm {
  :global {
    height: 50rem;
    background: rgba(255, 255, 255, 0.02);
    .ant-form {
      background: rgba(255, 255, 255, 0) !important;
    }
    
    .ant-form-item {
      &.select-my-account {
        .ant-select-selector {
          min-height: 5.8rem;
        }
        .ant-select-single {
          height: fit-content;
        }
      }

      &.field-to {
        label {
          color: var(--teal-2);
          width: 100%;
          .label-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .switch-container {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }
        }
      }

      &.amount {
        label {
          color: var(--teal-2);
        }
      }

      .ant-input-number-group-addon {
        color: var(--teal-2);
      }

      .ant-btn:disabled {
        color: var(--gray-02) !important;
      }
    }
  }
}
