.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  padding: 2.4rem;
  background-color: transparent;
  border-radius: 0.5rem;
  margin-top: 2rem;
  color: var(--teal-2);
}

.qrCodeContainer {
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  svg {
    display: block;
  }
}

.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  > * {
    flex: 1;
    display: flex;
  }
}

.extraInfo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.45rem;
  transition: all 0.3s ease-out;
  padding: 5px;
  border-radius: 0.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  color: var(--black);
  background-color: var(--gray-light);
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    color: var(--gray-01);
    background-color: var(--black);
  }

  &:active {
    transform: scale(0.99);
  }
}

a {
  text-decoration: none;
}