.importWallet {
  width: 100%;
  height: 55rem;
  padding: 24px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  margin: 0 auto;
  padding: 3.6rem 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  h1 {
    font-size: 2.5rem;
    @media (max-width: 768px) {
      font-size: 2.2rem;
    }
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-01);
    font-family: 'Sora', sans-serif;
  }

  p {
    font-size: 1.2rem;
  }

  :global {
    button[type="submit"],
    .next-button {
      display: block;
      margin: 0 auto;
    }
  }
}

.stepCreatePassword {
  button[type="submit"] {
    display: block;
    margin: 0 auto;
  }
}

.stepSecureSRP {
  :global {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    // h2 {
    //   margin-bottom: 0.8rem;
    // }
    .srp {
      margin: 0.8rem 0;
      padding: 1.2rem;
      border-radius: 0.5rem;
      border: 0.1rem solid var(--gray-light);
      // max-width: 40rem;
      text-align: center;
    }
  }
}

.tabs {
  flex: 1;
  max-width: 50rem;
  margin: 0 auto;
}

.stepInputSRP {
  h2 {
    margin-bottom: 1.5rem;
  }
  textarea {
    width: 42rem;
    height: fit-content;
    font-family: monospace;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0;
    word-break: break-word;
    color: var(--gray-03);
    text-align: center;
    @media (max-width: 768px) {
      width: 35rem;
    }
  }
}

.inputField {
  width: 100%;
  height: 4rem;
  background-color: transparent !important;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);

  :global(.ant-input),
  :global(.ant-input-password-icon) {
    color: var(--gray-light) !important;
  }

  :global(.ant-input::placeholder) {
    color: var(--gray-03) !important;
  }
}