.withdrawForm {
  :global {
    height: 50rem;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);

    .ant-form-item {
      padding: 1rem;
      border: none;
      border-radius: 1rem;
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(12px);
      
      &.select-my-account {
        .ant-select-selector {
          min-height: 3rem;
        }
        .ant-select-single {
          height: fit-content;
        }
      }

      &.field-to {
        label {
          color: var(--teal-2);
          width: 100%;
          font-size: small;
          font-weight: bold;
        }
      }

      .ant-input-number-group-addon {
        color: var(--teal-2);
      }
    }

    .ant-btn:disabled {
      color: var(--gray-02) !important;
    }
  }
}

.withdrawListContainer {
  overflow-y: auto;
  margin-top: 2rem;
  max-height: 35rem; // tuned w/o exact calculation, adjust as needed
  @media (max-width: 768px) {
    max-height: 31rem;
    margin-top: 0;
  }
}

.emptyList {
  height: 100%;
  margin: 5rem;
  align-content: center;
  border: 0.5px solid var(--gray-light);
  border-radius: 1rem;
  padding: 5rem;
}

.withdrawList {
  list-style: none;
  padding: 0;
}

.withdrawItem {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.progressBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: repeating-linear-gradient(45deg, #333 0px, #333 10px, #444 10px, #444 20px);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1.6rem;
  color: var(--gray-01);
  @media (max-width: 768px) {
    padding: 0.6rem 0.4rem;
  }
}

.capacity {
  display: flex;
  flex-direction: column;
  color: var(--gray-01);
  
  > div {
    font-size: 1.2rem;
  }
  
  > div:first-child {
    font-weight: bold;
    font-size: 1.4rem;
  }
}

.buttons {
  padding: 2px 3px;
  font-size: smaller;
  border: 0.5px solid var(--teal-2) !important;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}