.unlockForm {
  :global {
    height: 50rem;
    background: rgba(255, 255, 255, 0.02);

    .ant-form-item {
      &.select-my-account {
        .ant-select-selector {
          min-height: 5.8rem;
        }
        .ant-select-single {
          height: fit-content;
        }
      }

      &.field-to {
        label {
          color: var(--teal-2);
          width: 100%;
          .label-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .switch-container {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }
        }
      }

      .ant-input-number-group-addon {
        color: var(--teal-2);
      }
    }

    .ant-btn:disabled {
      color: var(--gray-02) !important;
    }

    h1 {
      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
  }
}

.withdrawListContainer {
  overflow-y: auto;
  max-height: 34rem; // tuned w/o exact calculation, adjust as needed
}

.withdrawList {
  list-style: none;
  padding: 0;
}

.withdrawItem {
  position: relative;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.progressBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: repeating-linear-gradient(45deg, #333 0px, #333 10px, #444 10px, #444 20px);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.6rem;
  color: var(--gray-01);
  @media (max-width: 768px) {
    padding: 0.6rem 0.4rem;
  }
}

.capacity {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: var(--gray-01);
  
  > div {
    font-size: 1.2rem;
  }
  
  > div:first-child {
    font-weight: bold;
    font-size: 1.4rem;
  }
}