.layout {
  max-width: 100rem;
  margin: 0 auto;
  height: 100vh;

  :global(.container) {
    padding: 1.2rem;
    @media (max-width: 768px) {
      padding: 0rem;
    }
  }

  &.activeLayout {
    :global {
      @media (min-width: 768px) {
        .container {
          display: flex;
          gap: 1.2rem;
          height: 100vh;
        }
      }
    }
  }
}
