.sendForm {
  :global {
    height: 50rem;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);
    padding-top: 3.5rem;
    .ant-form {
      background: transparent !important;
    }
    
    .ant-form-item {
      border: none;
      border-radius: 1rem;
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(12px);

      &.select-my-account {
        .ant-select-selector {
          min-height: 3rem;
        }
        .ant-select-single {
          height: fit-content;
        }
      }

      &.item-wrapper-with-label {
        padding: 1rem 1.5rem 2rem 1.5rem;
        label {
          color: var(--teal-2);
          width: 100%;
          font-size: small;
          font-weight: bold;
        }
      }

      .ant-input-number-group-addon {
        color: var(--teal-2);
      }

      .ant-btn:disabled {
        color: var(--gray-02) !important;
      }
    }
  }
}

.sendButton {
  height: 3rem;
  width: 100%;
  border: 0.5px solid var(--gray-01) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.15s ease, transform 0.1s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: var(--black) !important;
  }

  &:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(1px);
  }
}

button.sendButton:not([disabled]):not(.ant-btn-loading) {
  background: var(--teal-2) !important;
  border: 0.5px solid var(--black) !important;
}