.header {
  color: var(--gray-01);
  text-transform: uppercase;
  font-family: "Quantico", sans-serif;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  height: 12.5rem;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);

  border-radius: 0.5rem;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto 0.7rem auto;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.25);
  @media (max-width: 768px) {
    margin: 2px auto;
  }
}

.withOptionalWarningSign {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.copyable {
  width: fit-content;
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
  // background-color: rgba(123, 134, 152, 0.1);
  &:hover {
    color: rgb(136, 98, 2);
  }
}

.statusSection {
  display: flex;
  align-items: center;
  background: rgba(36, 38, 37, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.statusDetails {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--gray-01);
  gap: 0.75rem;
  margin-left: 0.5rem;
}

.updating {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    border: 0.5px solid rgba(255, 255, 255, 1);
  }
  100% {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
  }
}