.wallet {
  height: 50rem;
  :global {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);

    .account-container {
      display: flex;
      flex-direction: column;

      .divider {
        margin: 0;
        border-block-start-color: var(--gray-light);
        width: 90%;
        min-width: 90%;
        margin: 0 auto;
      }
    }
  }
}

.accountListContainer {
  overflow: auto;
  // max-height: 75vh; // tuned w/o exact calculation, adjust as needed
}