.receiveContainer {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.02);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 2.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.05);
}

h1 {
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.qrCodeContainer {
  padding: 1.6rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.08);

  svg {
    display: block;
  }
}

.address {
  font-family: "Quantico", sans-serif;
  font-size: 1.4rem;
  color: var(--gray-02);
  transition: color 0.3s ease-out;

  &:hover {
    color: var(--teal-2);
  }
}